header {
  position: fixed;
  width: 100%;
  height: 10%;
  display: flex;
  background-color: slategray;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  min-width: 85%;
}

.nav_links ul {
  display: flex;
  margin: auto;
}

li {
  list-style-type: none;
  margin: 2rem;
}

.logo {
  height: 4rem;
}